IPv6 regex for NNS is not RFC 4291 compliant

**Describe the bug**
The check added in #2262 defines IPv6 address as `^([a-f0-9]{1,4}:){7}[a-f0-9]{1,4}$`, but this regex doesn't cover even the simplest real IPv6 address every machine these days normally has: `::1`. It also doesn't allow for IPv4 embedding (`::1.1.1.1`).

**Expected behavior**
I think we should support proper IPv6 textual representation standard ([section 2.2 of RFC 4291](https://tools.ietf.org/html/rfc4291#section-2.2)). At the very minimum zero-compressed form must be supported because it's widely used and is also recommended by [RFC 5952](https://tools.ietf.org/html/rfc5952).

We can support zero-compressed form. But I think we shouldn't support IPv4 embedding.